* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 18px;
}

header h1 {
    float: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0px; /* TRouBLe */  
    margin-left: 0px;
}

header h2 {
    float: left;
    font-family: georgia, serif;
    font-size: 25px;
    margin-top: 120px;
    margin-right: 14px;
    text-align: left;
}

header nav {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 20px;
    font-size: 20px;  
    border-style: solid;
    border-color: #000000;
    text-align: left; 
    background-color: #006C57;
    
}

header a {
    color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    text-decoration: inherit; 
}

article a:link {
    color: #006C57;
}

article a:visited {
    color: #006C57;
}

header a:hover {
    color: #000000;
}

header a:active {
    text-decoration: underline;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
    text-align: left;
    
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;

}

article h2 {
    text-align: left;
    font-size: 20px;
    margin-top: 20px; 
    margin-bottom: 8px;
}

article h3 {
    text-align: left;
    font-size: 18px;
}

article h4 {
    text-align: left;
    font-size: 16px;
}

article h5 {
    text-align: center;
    font-size: 14px;
}

img {
    border: 2px solid #aaa;
}

footer nav {
    font-size: 20px;
    font-family: georgia, serif;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 20px;
    border-style: solid;
    border-color: #000000;
    text-align: left; 
    background-color: #006C57;  
}

footer a {
    color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    text-decoration: inherit; 
    
}

footer a:hover {
    color: #000000;
}

img.noborder {
    border: none
}

.left-content {
    float: left; width: 60%; padding-left: 2em;
}

.right-content {
        float: right; width: 40%; padding-right: 2em; padding-left: 2em;
}

.center-content {
        text-align: center;
}

@media screen and (max-width: 600px) {
    
    body {
        padding: 5%;
        clear: left; 
        margin-left: 5%;
    }
    
    header h1, h2 {
        text-align: center;
        font-size: 16px;
        margin-right: 5%; 
        display: inline;
        width: 110%;
        border-style: groove;
    }
    
    header nav {
        margin-left: 5%; 
        width: 100%;
    }
    
    footer nav {
        margin-left: 5%;
        width: 100%;
    }
    
    header a {
        display: inline; 
        margin-left: 0%; 
        margin-right: 0%;
        text-align: center;
        font-size: 15px; 
    }
     
    footer a{
        display: inline; 
        margin-left: 0%; 
        margin-right: 0%;
        text-align: center;
        font-size: 15px;
    }
      
}


