* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}

header h1 {
    float: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0px; /* TRouBLe */  
    margin-left: 0px;
}

header h2 {
    float: left;
    font-family: georgia, serif;
    font-size: 28px;
    margin-top: 120px;
    text-align: center;
}

header nav {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 20px;  
    border-style: solid;
    border-color: #000000;
    text-align: left; 
    background-color: #006C57;
    
}

header a {
    color: #aaaaaa;
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: inherit; 
}

article a:link {
    color: #006C57;
}

article a:visited {
    color: #006C57;
}

header a:hover {
    color: #000000;
}

header a:active {
    text-decoration: underline;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
    text-align: left;
    
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;

}

article h2 {
    text-align: left;
    font-size: 20px;
}

article h3 {
    text-align: left;
    font-size: 18px;
}

article h4 {
    text-align: left;
    font-size: 16px;
}

article h5 {
    text-align: left;
    font-size: 14px;
}

footer nav {
    font-size: 20px;
    font-family: georgia, serif;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    border-style: solid;
    border-color: #000000;
    text-align: left; 
    background-color: #006C57;  
}

footer a {
    color: #aaaaaa;
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: inherit; 
    
}

footer a:hover {
    color: #000000;
}

.left-content {
    float: left; width: 60%; padding-left: 2em;
}

.right-content {
        float: right; width: 40%; padding-right: 2em; padding-left: 2em;
}

.center-content {
        text-align: center;
}


